body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   margin: 0;
   font-family: 'Raleway', sans-serif;
}

.container-fluid {
   flex: 1;
}

.my-form-container {
   text-align: left;
   padding: 20px;
   border: 2px solid #ccc;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
}

.text-container {
   text-align: center;
   padding: 30px;
   border: 2px solid #ccc;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 10px; 
}